body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #0a0a0a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: black;
}

.logo {
  color: gold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: gold;
}

/* HERO BACKGROUND */
.hero {
  height: 90vh;
  background: url('watch-bg.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  width: 60%;
}

.overlay h2 {
  font-size: 3rem;
}

.overlay p {
  margin-top: 15px;
  line-height: 1.6;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: gold;
  border: none;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 60px;
  text-align: center;
}

.section p {
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: #111;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}
